* {
  box-sizing: border-box;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding-left: 8px;
 
}

/* Clear floats after the columns */
.row:after {
  content: '';
  display: table;
  clear: both;
}
.button_center{
  margin-left: 120px;
  margin-top: 80px;
}
.button_div {
	margin:5px;
	background-color: #ffffff;
	padding:30px;
  min-height: 460px;
	
}
  .button_d {
 border-radius: 15px;
  position: relative;
  background-color: #0079c1;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  padding: 10px;
  width: 70px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  float: right;
  margin-right: 48px;
}

.button_d:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button_d:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
/*input field css like bootstrap*/
.input-group {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.input-group-prepend>.input-group-text {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group>.form-control {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
/*input field css like bootstrap end*/
/*bootstrap field*/
.form-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 5px;
    padding-left: 5px;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

/*bootstrap field end*/
/*Accordion style*/
.accordion-container {
        position: relative;
        width: 100%;
        border: 1px solid #0079c1;
        border-top: none;
        outline: 0;
}

.accordion-container .article-title {
        display: block;
        position: relative;
        margin: 0;
        padding: 0.625em 0.625em 0.625em 2em;
        border-top: 1px solid #0079c1;
        font-size: 1.25em;
        font-weight: normal;
        color: #0079c1;
        cursor: pointer;
}

.accordion-container .article-title:hover,
.accordion-container .article-title:active,
.accordion-container .content-entry.open .article-title {
        background-color: #00aaa7;
        color: white;
}

.accordion-container .article-title:hover i:before,
.accordion-container .article-title:hover i:active,
.accordion-container .content-entry.open i {
        color: white;
}

.accordion-container .content-entry i {
        position: absolute;
        top: 8px;
        left: 12px;
        font-style: normal;
        font-size: 1.625em;
        sans-serif;
        color: #0079c1;
}

.accordion-container .content-entry i:before {
        content: "+ ";
}

.accordion-container .content-entry.open i:before {
        content: "- ";
}

.accordion-content {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
/* This stuff is just for the Codepen demo */

#content {
        width: 100%;
}

.accordion-container,
#description {
  width: 90%;
  margin: 1.875em auto 15px 0;
}

#description p {
        line-height: 1.5;
}

#description h2 {
        text-align: center;
}

@media all and (min-width: 860px) {
        #content {
               
            margin: 0 auto;
        }
}
/*Accordion style end*/
/*pop up start*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 10;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px 0 2px 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h4 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.b_hide{
  display: none !important;
}

@media screen and (max-width: 700px){
  
  .popup{
    width: 70%;
  }
}
/*pop up end*/
.focus_hover_style {
  border-bottom: 2px solid #000000;
  width: 142px;
}